.orderView {
    display: flex;
    justify-content: space-between;
    padding: 2rem .5rem;
}

.formContainer {
    width: 418px;
    text-align: initial;
    background-color: #fff;
    border: 1px solid lightgray;
    padding: 1rem;
}

.formContainer h5 {
    font-weight: bold;
    font-size: 1.5rem;

}

.itemCartList {
    width: 418px;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid lightgray;
    height: fit-content;
}

.itemCartList h5 {
    margin: 0 0 0 1rem;
    text-align: initial;
    font-weight: bold;
    font-size: 1.5rem;
}

.itemCartEmpty h2 {
    font-size: 23px;
}

.itemCartEmpty p {
    font-size: 13px;
}

.subtotalBar {
    height: 4rem;
    background-color: #fff;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #000;
    align-items: center;
    align-self: center;
    width: 100%;
}

.subtotalBar div button {
    height: 2.5 rem;
    width: 250 px;
    border-radius: 5 px;
    border: 0 px;
    background-color: #0038b1;
    color: #fff;
}

.goToShipping {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
}

.buy {
    width: 250px;
    height: 2.5rem;
    border-radius: 5px;
    border: 0px;
    background-color: #0038b1;
    color: #fff;
}