.cardProduct {
    color: #303030;
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
    padding: 1rem;
    flex-direction: column;
    background-color: darkgrey;
    border: solid #303030 2px;
}

.cardProduct img {
    padding: 3px;
}

.buttonSeeMore {
    width: 75%;
    align-self: center;

}

#modal1 {
    margin-top: 50%;
    min-width: 800px;
    min-height: 444px;
    left: 50%;
    margin-left: -400px;
    margin-top: 10%;

}