.countProduct {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #d3d3d37d 1px solid;
    border-radius: 5px;
    width: 150px;
    height: 2.5rem;
}

.addProductButton {
    margin-top: 1rem;
    width: 90%;
    height: 2.5rem;
    max-width: 90%;
    border-radius: 5px;
    border: 0px;
    justify-content: center;
    background-color: #0038b1;
    color: #fff;
}

.buttonCard {
    color: #303030;
    width: 50px;
    line-height: 2.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttonCard:active {
    background-color: #666666;
    color: #fff;
    cursor: default;
}

.reduce {
    background-color: #e0e0e07d;
    color: #636363;
}

.qItem {
    width: 50px;
    font-size: 1.5rem;
    text-align: center;
    border-right: #d3d3d37d 1px solid;
    border-left: #d3d3d37d 1px solid;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}